<nav class="site-nav pv3 ph3 ph4-ns" role="navigation">
  <div class="site-nav-inner flex-l justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="site-logo-link f3 fw2 hover-white no-underline white-90 dib" aria-label="{{ $.Site.Title }} home">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="site-logo" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>

    <div class="site-menu flex-l items-center">
      {{ partial "i18nlist.html" . }}

      {{ if .Site.Menus.main }}
        <ul class="site-menu-list {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
            <li class="site-menu-item list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
              <a class="site-menu-link hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}

      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
