<header>
  <div class="site-topbar {{ .Site.Params.background_color_class | default "bg-black" }}">
    {{ partial "site-navigation.html" . }}
  </div>
  {{ $featured_image := partial "func/GetFeaturedImage.html" . }}
  {{ if $featured_image }}
    <div class="site-hero" style="background-image: url('{{ $featured_image }}');">
      <div class="site-hero-overlay {{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
        <div class="tc-l pv4 pv6-l ph3 ph4-ns site-hero-text">
          <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">{{ .Title | default .Site.Title }}</h1>
          {{ with .Params.description }}<h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">{{ . }}</h2>{{ end }}
        </div>
      </div>
    </div>
  {{ end }}
</header>
